main section.f-container {margin-top: 3rem;}
main section.f-container div.profile /* left box */
{
    position: fixed;
    top: 10vh;
    left: 5vw;
    max-width: 30%;
}
main section.f-container div.profile h1.title
{
    color: #00b7ff;
    font-weight: 800;
    padding-left: 10px;
}
main section.f-container div.profile h1.subtitle
{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 30px;
    padding-left: 10px;
}
main section.f-container div.profile h1.caption
{
    font-size: 20px; 
    padding-bottom: 30px;
    padding-left: 10px;
}
main section.f-container div.profile h1.sub-h1
{
    font-size: 18px; 
    color: #ffffff;
    text-shadow: 5px 5px 5px #444444;
    padding-left: 10px;
}
/* contents */
main section.f-container div.profile ul.contents
{
    border: 2px solid white;
    border-radius: 20px;
    width: 50%;
    list-style-type: none;
    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
main section.f-container div.profile ul.contents li:first-child 
{
    color: #ff00ff;
    border-top: none; 
    background-color: #000a2b;
    border-radius: 20px 20px 0 0;
    padding: 10px;
}
main section.f-container div.profile ul.contents li
{
    background-color: #001b07;
    border-top: 2px solid white;
}
main section.f-container div.profile ul.contents li a
{
    text-decoration: none;
    color: #5768ff;
    padding: 5px;
    display: block;
}
main section.f-container div.profile ul.contents li a:hover,
main section.f-container div.profile ul.contents li a:focus 
{
    background-color: #003300; 
    transition: background-color 0.3s, color 0.3s ease;
    color: #003cff;
}
main section.f-container div.profile ul.contents li a:active {color: white;}
main section.f-container div.profile ul.contents li:last-child {border-radius: 0 0 20px 20px;}
main section.f-container div.profile ul.contents li:last-child a:hover,
main section.f-container div.profile ul.contents li:last-child a:focus {border-radius: 0 0 20px 20px;}
/* tag categories */
main section.f-container div.profile div.tag-table table {margin-top: 5px; width: 100%;}
main section.f-container div.profile div.tag-table table tr td
{
    border-collapse: collapse;
    font-size: 13px;
    padding-right: 20px;
    color: #bbbbbb;

}
main section.f-container div.profile div.tag-table table tr td div
{
    border-radius: 50px;
    padding: 10px 20px;
    margin: 10px;
    width: 100%;
}
/* green tag */
main section.f-container div.profile div.tag-table table tr:first-child td div {background-color: #002c0f; text-align: center; color: #00ff22;}
main section.f-container div.profile div.tag-table table tr:first-child td div:hover,
main section.f-container div.profile div.tag-table table tr:first-child td div:focus {color: #008d1f;}
/* yellow tag */
main section.f-container div.profile div.tag-table table tr:nth-child(2) td div {background-color: #422300; text-align: center; color: #ffa600;}
main section.f-container div.profile div.tag-table table tr:nth-child(2) td div:hover,
main section.f-container div.profile div.tag-table table tr:nth-child(2) td div:focus {color: #c28500;}
/* blue tag */
main section.f-container div.profile div.tag-table table tr:nth-child(3) td div {background-color: #001a4d; text-align: center; color: #9595ff;}
main section.f-container div.profile div.tag-table table tr:nth-child(3) td div:hover,
main section.f-container div.profile div.tag-table table tr:nth-child(3) td div:focus {color: #5e5eff;}
/* red tag */
main section.f-container div.profile div.tag-table table tr:last-child td div {background-color: #3d0000; text-align: center; color: #ff0000;}
main section.f-container div.profile div.tag-table table tr:last-child td div:hover,
main section.f-container div.profile div.tag-table table tr:last-child td div:focus {color: #a00000;}

/* more tags (setup) */
.tag-flexbox {display: flex; flex-wrap: wrap; font-size: 13px;}
.tag-green {background-color: #002c0f; text-align: center; color: #00ff22; border-radius: 50px; padding: 10px 20px; margin-right: 10px; margin-bottom: 10px;}
.tag-green:hover,
.tag-green:focus {color: #008d1f;}
.tag-yellow {background-color: #422300; text-align: center; color: #ffa600; border-radius: 50px; padding: 10px 20px; margin-right: 10px; margin-bottom: 10px;}
.tag-yellow:hover, 
.tag-yellow:focus {color: #c28500;}
.tag-blue {background-color: #001a4d; text-align: center; color: #9595ff; border-radius: 50px; padding: 10px 20px; margin-right: 10px; margin-bottom: 10px;}
.tag-blue:hover, 
.tag-blue:focus {color: #5e5eff;}
.tag-red {background-color: #3d0000; text-align: center; color: #ff0000; border-radius: 50px; padding: 10px 20px; margin-right: 10px; margin-bottom: 10px;}
.tag-red:hover, 
.tag-red:focus {color: #a00000;}

/* text formatting setup */
main section.f-container div.description h3 {padding-top: 30px;}
main section.f-container div.description h3.first-child {padding-top: 0;}
main section.f-container div.description h4 {font-size: 15px; color: #00c1cf; font-weight: 500; font-style: italic; padding-bottom: 10px;}
main section.f-container div.description h5 {font-size: 15px; padding: 20px 0;}
main section.f-container div.description h5.no-padding {padding: 0; padding-top: 20px;}
/* add spacing between main divs */
main section.f-container div.description div#statement {padding-bottom: 80px;}
main section.f-container div.description div#experience {padding-bottom: 80px;}
main section.f-container div.description div#education {padding-bottom: 80px;}

/* horizontal line */
hr {border-top: 2px solid #818181; margin-bottom: 20px;}

main section.f-container div.description /* right box */
{
    text-align: justify;
    position: relative;
    width: 50%;
    top: 1vh;
    left: 43vw;

}
main section.f-container div.description h2
{
    color: #ff00bf;
    text-shadow: 5px 5px 5px #380081;
    padding-bottom: 10px;
    font-size: 25px;
}

/* personal statement */
main section.f-container div.description div#statement p {color: #bbbbbb; font-size: 18px;}

/* employment & experience */
main section.f-container div.description div#experience p {font-size: 15px; padding-bottom: 20px; color: #bbbbbb;}
main section.f-container div.description div#experience #p1 {padding-bottom: 5px;}
main section.f-container div.description div#experience #p2 {padding-bottom: 5px;}
main section.f-container div.description div#experience a {text-decoration: none; color: #00c271;}
main section.f-container div.description div#experience a:hover,
main section.f-container div.description div#experience a:focus {color: #009e5c;}
main section.f-container div.description div#experience a:active {color: #ff0000;}
main section.f-container div.description div#experience ul {font-size: 15px; color: #bbbbbb;}
main section.f-container div.description div#experience ul li {margin-left: 30px;}
main section.f-container div.description div#experience ul li:last-child {padding-bottom: 20px;}

/* education & certificates */
main section.f-container div.description div#education p {font-size: 15px; color: #bbbbbb;}
main section.f-container div.description div#education a {text-decoration: none; color: #00c271;}
main section.f-container div.description div#education a:hover,
main section.f-container div.description div#education a:focus {color: #009e5c;}
main section.f-container div.description div#education a:active {color: #ff0000;}
main section.f-container div.description div#education ul {font-size: 15px; color: #bbbbbb;}
main section.f-container div.description div#education ul li {margin-left: 30px;}
main section.f-container div.description div#education ul li:last-child {padding-bottom: 20px;}
main section.f-container div.description div#education ol#ba-modules li {font-weight: 800;}
main section.f-container div.description div#education ol#ba-modules li ol li {font-weight: 500;list-style-type: square;}
main section.f-container div.description div#education ol#ba-modules li ol li:last-child {padding: 0;}
main section.f-container div.description div#education ol {font-size: 15px; color: #bbbbbb;}
main section.f-container div.description div#education ol li {margin-left: 30px;}
main section.f-container div.description div#education ol li:last-child {padding-bottom: 20px;}

/* modules table */
main section.f-container div.description div#education table
{
    border-collapse: collapse;
    width: 80%;
    font-size: 13px;
}
main section.f-container div.description div#education table td,
main section.f-container div.description div#education table th
{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    color: #bbbbbb;
}
main section.f-container div.description div#education table th:nth-child(1) {width: 40%}
main section.f-container div.description div#education table th:nth-child(2) {width: 20%}
main section.f-container div.description div#education table th:nth-child(3) {width: 40%}

/* misc */
main section.f-container div.profile div.contents-button
{
    border: 3px solid white;
    text-align: center;
    width: 15vw;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
main section.f-container div.profile div.contents-button a
{
    text-decoration: none;
    color: #00ff40;
    background-color: #003833;
    display: block;
    padding: 5px;
}
main section.f-container div.profile div.contents-button a:hover,
main section.f-container div.profile div.contents-button a:focus
{
    background-color: #003603;
    transition: background-color 0.3s, color 0.3s ease;
}
main section.f-container div.profile div.contents-button a:active {color: white;}

main section.f-container div.profile div.tag-container
{
    font-size: 15px;
    padding-top: 20px;
}
main section.f-container div.profile div.tag-container div {border-radius: 50px;}
main section.f-container div.profile div.tag-container div#cs {display: flex;}
main section.f-container div.profile div.tag-container div#cs div
{
    background-color: #00531c;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
}
main section.f-container div.profile div.tag-container div#cs div.tag-description {background-color: transparent;}
main section.f-container div.profile div.tag-container div#business {display: flex;}
main section.f-container div.profile div.tag-container div#business div
{
    background-color: #003391;
    padding: 10px 20px;
    text-align: center;
    margin: 10px;
}
main section.f-container div.profile div.tag-container div#business div.tag-description {background-color: transparent;}