main section#home-flexbox
{
    margin-top: 10vh;
    border: 2px solid white;
    width: 100%;
    padding: 0;

    display: flex;
    flex-direction: column;
}
main section#home-flexbox div
{
    border: 1px dashed white;
}