/* 
VIEWPORT WIDTHS (updated 18/05/2025):

Monitors: 1024px - 1440px (laptops), 1440+ (desktops)
Tablets: 600px - 1024px
Modern Smartphones: 320px - 480px
1st gen Smartphones: <320px
*/

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    main section div
    {
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
    }
    main section#banner {margin-top: 6em;}
    main section#banner div h1 {font-size: 10vw;}
    main section#banner div hr {margin: 6vh auto;}
    main section#banner div p {font-size: 2.5vw;}
    main section#gallery-container h1 {font-size: 5vw;}
    main section#gallery-container h2 {font-size: 2.5vw;}
    main section#gallery-container div#gallery 
    {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }
    main section#gallery-container div#gallery figure figcaption.caption1 {font-size: 2vw;}
}

/* Smartphones */
@media screen and (max-width: 767px)
{
    main section div
    {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
    }
    main section#banner {margin-top: 6em;}
    main section#banner div h1 {font-size: 12vw;}
    main section#banner div hr {margin: 6vh auto;}
    main section#banner div p {font-size: 3.5vw;}
    main section#gallery-container h1 {font-size: 7vw;}
    main section#gallery-container h2 {font-size: 3.5vw;}
    main section#gallery-container div#gallery 
    {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 250px;
        gap: 40px;
    }
    main section#gallery-container div#gallery figure {margin-top: -30px;}
    main section#gallery-container div#gallery figure figcaption.caption1 {font-size: 3vw;}
}