/* 
Media queries for displaying web on other devices.

VIEWPORT WIDTHS (updated 18/05/2025):

Monitors: 1024px - 1440px (laptops), 1440+ (desktops)
Tablets: 600px - 1024px
Modern Smartphones: 320px - 480px
First-gen Smartphones: <320px
*/

/* Responsive menu button setup */
header nav ul #menu {font-size: 25px; color: #ffffff;}
header nav ul #menu:hover, 
header nav ul #menu:focus {color: #808080;}
header nav ul #menu:active {color: #353535;}

/* --------------------- Monitors --------------------- */
@media screen and (min-width: 1024px)
{
    /* Hide menu button for laptop and desktops */
    header nav ul #menu {display: none;}
}

/* --------------------- Tablets --------------------- */
@media screen and (max-width: 1024px) 
{
    /* iPad Pro (1024 x 1366) */
    header nav ul #menu {display: inline;}
}
@media screen and (max-width: 820px) and (min-width: 768px) 
{
    /* iPad Air (820 x 1180) */
    header nav ul #menu {display: inline;}
}
@media screen and (max-width: 768px) 
{
    /* iPad Mini (768 x 1024) */
    header nav ul #menu {display: inline;}
}

/* --------------------- First-gen smartphones --------------------- */
@media screen and (max-width: 320px)
{
    
}